doctype 5
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')

        title Shakira
        link(href='/asset/main.css', rel='stylesheet')
        script(src='/asset/main.js', type='text/javascript')
    body
        block body-content
